<button id="{{topic.id}}-delete" data-type="btn-delete" class="btn btn-danger">Delete</button>
<button id="{{topic.id}}-update" data-type="btn-update" class="btn btn-info float-right">Update</button>
