<button id="{{topic.id}}-delete" data-id="{{topic.id}}" data-shan="Delete Shan" class="btn btn-danger">Delete</button>
<button id="{{topic.id}}-update" data-id="{{topic.id}}" data-shan="Update Shan" class="btn btn-info float-right">Update</button>
