@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Monoton&display=swap');

body {
  padding-top: 8em;
}

.navbar-brand {
  font-family: 'Monoton', cursive;
  font-size: 40px;
}

.top-section {
  margin-top: 5em;
}

.question,
.answer {
  height: 150px;
  overflow: scroll;
}

.answer,
.edit-section {
  display: none;
}

@media only screen and (max-width: 600px) {
  .navbar-brand {
    font-size: 20px;
  }
}
