@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Monoton&display=swap');
$tab-color: #5bc0de;
$tab-text: white;

body {
  padding-top: 8em;
  background-image: url('public/bg-img.jpg');
  background-repeat: no-repeat;
  background-size: 100% 800px;
}

.navbar-brand {
  font-family: 'Monoton', cursive;
  font-size: 40px;
}

.top-section {
  margin-top: 5em;
}

.question,
.answer {
  height: 150px;
  overflow: scroll;
}

.answer,
.edit-section {
  display: none;
}

.nav-link {
  background-color: $tab-color;
  color: $tab-text;
}

.nav-tabs > li > a, .nav-pills > li > a {margin:1px;}

@media only screen and (max-width: 600px) {
  .navbar-brand {
    font-size: 20px;
  }
}
